# Ignore all except .config/nvim
*
!.gitignore
!.config/
.config/*
!.config/nvim/
!.config/nvim/**
!.codex/AGENTS.md
!.claude
!.claude/agents
!.claude/agents/*
!.claude/commands
!.claude/commands/*
!.claude/CLAUDE.md
!.codex
!.codex/prompts
!.codex/prompts/*
!Library
!Library/Application Support/
!Library/Application Support/com.mitchellh.ghostty/
!Library/Application Support/com.mitchellh.ghostty/config